body {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 60, 60);
}

.contenedor {
    margin: 2%;
    height: 100hv!important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#usuarios {

}

#listaUsuarios {
    width: 49%;
}

#tareasUsuarios{
    width: 49%;
}

.tarjeta{
    width: 100%;
    background-color: rgb(204, 172, 244);
    border: 2px solid rgb(58, 0, 112);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Info {
    margin-left: 50px;
}

.btn{
    margin: 10px;
    width: 100px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: blueviolet;
}